<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>EESTech Challenge</h1>
    <p>
      Veliko evropsko EESTEC takmičenje u programiranju svih EESTEC lokalnih komiteta započeto je 2017. godine. Svake godine, EESTech Challenge je obeležen drugačijom temom i odvija se u dve faze – lokalnoj i finalnoj rundi. <br>
      Do sada smo organizovali osam uzbudljivih lokalnih rundi: 
    </p>
<ul>
    
<li>2017 – Machine Learning</li>
<li>2018 – Big Data Analysis</li>
<li>2019 – Internet of Things</li>
<li>2022 – Machine Learning</li>
<li>2024 – AI Applications</li>
<li>2025 – Electrical Circuits</li>
  
</ul>
<p>
  Svake godine unapređujemo našu lokalnu rundu bogatijim sadržajem za studente – sve u cilju naše vizije akademski angažovanih mladih. Imajući to na umu, nedavno smo obogatili EESTech Challenge i sada takmičenju prethode akademski program i radionica. Predavanja su namenjena svim studentima, a do sada smo imali priliku da slušamo Maxima Talanova i redovne profesore sa Fakulteta tehničkih nauka. Radionice su namenjene takmičarima kako bi se dodatno pripremili za 24-časovni hakaton. <br>

  Najbolji tim putuje na nekoliko dana u lokalni komitet koji je te godine domaćin finalne runde. Uz nezaboravno iskustvo samog takmičenja, takmičari imaju priliku da uživaju u kulturi domaćina i upoznaju se sa budućim evropskim inženjerima.
    </p>
  </div>
</div>
