<div class="basic-page">
	<div class="max-width-1200 auto-margin">
		<h1>EESTech Challenge</h1>
		<p>	Jedan od internacionalnih projekata kojima se ponosi naše udruženje predstavlja takmičenje u programiranju koje okuplja ambiciozne studente elektrotehnike i računarstva, EESTech Challenge.</p>
		
		<br>
		<p>Takmičenje je podeljeno u dve faze: na lokalni deo, čiji pobednici imaju priliku da predstavljaju svoj komitet u finalnom krugu, koji organizuje komitet domaćin. Pobednici se takmiče protiv timova širom Evrope, gde pobeđuju najkreativniji i najveštiji. Sama istorija hakatona svoju priču započinje 2017. godine, kada su održane prve lokalne runde. EESTech Challenge se godišnje obeležava novim i aktuelnim temama, sa od nedavno lokalno uključenim akademskim programom i radionicama koje prethode izazovu. Panel diskusije i predavanja nisu ograničene samo na učesnike takmičenja, već mogu da im prisustvuju i drugi zainteresovani studenti.</p>
		
		<br>
		<p>Dosadašnje teme 24-časovnog izazova čine:</p>
		
		<ul>

			<li>2017 – Machine Learning</li>
			<li>2018 – Big Data Analysis</li>
			<li>2019 – Internet of Things</li>
			<li>2022 – Machine Learning</li>
			<li>2024 – AI Applications</li>
			<li>2025 – Electrical Circuits</li>

		</ul>
		
		<br>	
		<p>Događaj koji nije samo izazovan, već otvara priliku za profesionalnim usavršavanjem, stvaranjem poznanstava, kako prijateljskih tako i poslovnih, uz proširivanje mogućnosti unutar poslovnog sveta i daljeg karijernog uspeha.</p>
	</div>
</div>
