<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>EESTech Challenge</h1>
    <p>
      Veliko Evropsko EESTEC takmičenje u programiranju svih EESTEC lokalnih komiteta započeto je  2017 . Svake godine EEStech Challenge je obeležen drugačijom temom i odvija se u dve faze - lokalnom i finalnom rundom. Do sada smo organizovali osam uzbudljivih lokalnih rundi:

2017 - Machine learning
2018 - Big Data Analasyst 
2019 - Internet of Things
2022 - Machine learning
2024 - AI Applications
2025 - Electrical Circuits 

Svake godine unapređujemo našu lokalnu rundu bogatijim sadržajem za studente - sve u cilju naše vizije akademski angažovanih mladih. Time, od nedavno takmičenju prethodi akdameski program i radionica. Predavanja su namenjena svim studentima, a do sada smo imali priliku da slušamo Maxim Talanova i redovne profesore sa fakulteta Tehničkih nauka. Radionice su namenje takmičarima kako bi se dodatno spremili za 24 časovni hakaton.

Najbolji tim putuje na par dana u lokalni komitet koji je te godine domaćin finalne runde. Uz nezaboravno iskustvo izrade kranjeng rešenja, takmičari imaju priliku da uživaju u kulturi domaćina i upoznaju se sa budućim Evropskim inženjerima.

    </p>
  </div>
</div>
