<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>Motivacioni vikend</h1>
    <p>
      Zamisli tri dana daleko od gradske gužve, ekrana i svakodnevnih obaveza. Pred sam početak letnjeg semestra,
      organizujemo našu tradicionalnu studentsku konferenciju - savršenu priliku da se stariji i noviji članovi okupe,
      napune baterije i uđu u novi semestar sa novom energijom.
    </p>
    <p>
      Menjamo urbani život za prelepe planinske predele Srbije, gde je svaki dan ispunjen aktivnostima po izboru:
    </p>

    <ul>
      <li><b>Avantura u prirodi</b>: Za ljubitelje čistog vazduha organizujemo pešačke ture i planinarenje.</li>

      <li><b>Sportski izazovi</b>: Ako si više
        sportski tip, imaćeš priliku da pokažeš umeće u košarci, odbojci i drugim timskim
        igrama.</li>

      <li><b>Učenje i povezivanje</b>: Pored akcije na otvorenom, naš organizacioni tim priprema dinamične radionice
        i
        sesije. One
        su tu da nam pomognu da se bolje upoznamo, prođemo kroz tim bilding i u opuštenoj atmosferi razmenimo
        dragocena
        iskustva i ideje</li>
    </ul>

    <p>
      Kao i uvek nastojimo da proširimo mrežu poznanstava i gradimo prijateljstva! Naše kolege i dragi gosti iz
      Beograda, Niša, kao i iz drugih komiteta, uvek su dobrodošli da sa nama podele ove sjajne trenutke!
    </p>

  </div>
</div>