<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>KONTEH</h1>
    <h2> Šta je KONTEH?</h2>
    <p>
      <b> KONTEH </b> predstavlja jedinstveni Sajam, koji pored prilika za zapošljavanje nudi i raznovrsnu ponudu
      stručnih praksi, i kao takav može da poveže kompanije sa njima dve bitne tačke: obrazovnim institucijama i
      ambicioznim mladim talentima koji su idealni kandidati za posao. Sajam poslovnih mogućnosti i stručnih praksi
      KONTEH pruža kompanijama mogućnost da se predstave i upoznaju sa najkvalitetnijim visokoobrazovnim kadrom koji
      dolazi sa Univerziteta u Novom Sadu i to kroz direktan kontakt sa zainteresovanim studentima i diplomcima tokom
      dva dana trajanja Sajma.
    </p>

    <h2> Šta vas očekuje na Akademskim danima?</h2>
    <p> KONTEH akademski dani su ispunjeni raznovrsnim akademskim i keynote predavanjima i panel diskusijama ,koji su
      fokusirani na pripremu za prvi korak u svet nakon završetka studija. Takođe, predstavljaju odličnu priliku da se
      mladi upoznaju sa stručnjacima iz vodećih svetskih kompanija i steknu novu perspektivu kroz razgovor sa njima.Teme
      akademskih dana variraju - od toga kako napraviti svoj prvi CV i kako se pripremiti za prvi intervju, pa do toga
      šta vas može očekivati nakon ulaska u kompaniju.
    </p>

    <h2> Šta Vas očekuje na Sajmu? </h2>
    <p>U toku Sajma, kompanije-učesnice će, kao i prethodnih godina, imati priliku da predstave svoju delatnost
      studentima pomoću promotivnog materijala i kroz neposredni kontakt sa njima. Studenti i kandidati za posao će, sa
      druge strane, pored mogućnosti da na licu mesta uruče svoj CV poslodavcima za koje su zainteresovani, moći isti da
      ostave i u elektronskoj bazi koja će biti na raspolaganju svim kompanijama-učesnicama tokom narednih godinu dana,
      čime direktno sebi uvećavaju šansu za dobijanje radnog mesta ili prakse.
    </p>
  </div>
</div>