<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>KONTEH</h1>
    <p>
      <b> KONTEH </b> predstavlja jedinstveni Sajam, koji pored prilika za zapošljavanje nudi i raznovrsnu ponudu
      stručnih praksi, i kao takav može da poveže kompanije sa dve bitne tačke za njihov razvoj: obrazovnim
      institucijama
      i ljudskim resursima (studentima, odnosno diplomcima kao kandidatima za posao).

      Sajam poslovnih mogućnosti i stručnih praksi KONTEH pruža kompanijama mogućnost da se predstave i upoznaju sa
      najkvalitetnijim visoko obrazovnim kadrom koji dolazi sa Univerziteta u Novom Sadu i to kroz direktan kontakt sa
      zainteresovanim studentima i diplomcima tokom dva dana trajanja Sajma, gde se kompanijama nudi mogućnost
      obavljanja prvog intervjua već na licu mesta.
    </p>

    <h2> Šta vas očekuje na Akademskim danima?</h2>
    <p> Ovaj trodnevni akademski program održaće se u Naučno-tehnološkom parku. Prvog dana ćete imati priliku da
      prisustvujete panel diskusiji vođenoj od strane stručnjaka koji će razmatrati ključne teme.
      Sledećeg dana će se održati predavanja u okviru 4 različita track-a na aktuelne teme industrije.
      Takođe, pored predavanja, biće Speed dating sa kompanijama učesnicama, NGO i StartUP zona. Poslednjeg dana, fokus
      će biti na studiji slučaja, gde ćete sa svojim timom imati priliku da rešavate probleme određene teme.</p>

    <h2> Šta Vas očekuje na Sajmu? </h2>
    <p> U toku Sajma kompanije izlagači će, kao i prethodnih godina, imati priliku da predstave svoju delatnost
      studentima pomoću promotivnog materijala i
      kroz neposredni kontakt sa njima. Studenti i kandidati za posao će, sa druge strane, pored mogućnosti da na licu
      mesta uruče svoj CV
      poslodavcima za koje su zainteresovani, moći isti da ostave i u elektronskoj bazi koja će biti na raspolaganju
      svim kompanijama-učesnicama tokom narednih godinu dana,
      čime direktno sebi uvećavaju šansu za dobijanje radnog mesta ili prakse.</p>
  </div>
</div>
