.partner {
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  vertical-align: top;
  padding: 10px;
}

.partners {
  text-align: center;
}

.partner-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
