<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>Ve:Conf</h1>
    <p>IT konferencija je projekat ostvaren tokom saradnje sa Vega IT Sourcing kompanijom.
      Konferencija od 2019. do 2022. godine okuplja veliki deo IT scene i odgovara na pitanja studenata o IT industriji, daje uvid u nove tehnologije ali i šta je potrebno za vođenje uspešne kompanije i karijere.
    
      Teme o kojima se govori na konferenciji obuhvataju više oblasti informacionih tehnologija. Učesnicima su višegodišnji profesionalci u svojoj struci preneli iskustva i znanja u oblasti veb programiranja,
      iOS i testova softverskih proizvoda. Osim navedenih, neke od tema o  kojima će biti reči su izbor tehnologije za razvoj projekta i kako steći naviku pisanja čitljivog koda.
      Pored predavanja o tehničkim temama, učesnici su saznali i najbolje načine da se pozicioniraju u očima poslodavca i napreduju u svojoj karijeri.
      Kroz predavanja o tome kako se pripremiti za intervju i kako  se izdvojiti od ostalih kandidata učesnici si osetili na koji način poslovni svet funkcioniše.

 

IT konferencija se 2019. godine naziva ,,VE: conf: From 0 to 1” i nije imala samo edukativni, nego i humanitarni karakter. Za svakog prijavljenog učesnika kompanija Vega IT Sourcing je donirala sredstva u dobrotvorne svrhe.
    </p>
  </div>
</div>
