<div class="basic-page">
  <div class="">
    <h1>O nama</h1>

    <div class="columns mt-5 is-vcentered max-width-1200 auto-margin">
      <div class="column">
        <img src="assets/about_us_eestec.jpg" />
      </div>
      <div class="column stretch-height">
        <h2>Udruženje studenata elektrotehnike Evrope</h2>
        <h3>Electrical Engineering STudents’ European assoCiation</h3>
        <hr />
        <p>
	<b>EESTEC</b> je neprofitno, nepolitičko udruženje studenata koje ima za cilj 
	da poveže studente elektrotehnike i računarstva širom Evrope kroz 
	organizovanje međunarodnih seminara, razmena i stručnih praksi. Cilj 
	udruženja je i povezivanje i upoznavanje studenata sa razvojem industrije 
	i modernim trendovima u struci. Udruženje je osnovano 1986. godine u Holandiji 
	i trenutno se sastoji od 36 lokalna komiteta (Local Committee – LC) u 25 država širom Evrope.
	</p>
      </div>
    </div>

    <div class="row-2 lc-wide">
      <div class="gradient"></div>
      <div class="row-bg"></div>
      <div class="auto-margin max-width-1200 columns is-vcentered row-content">
        <div class="column stretch-height">
          <h2>Lokalni komitet Novi Sad</h2>
          <hr />
          <p>
	  <b>EESTEC LC Novi Sad</b> je lokalni komitet osnovan 2001. godine na 
	  kongresu u Londonu. Naše udruženje okuplja studente Fakulteta 
	  tehničkih nauka kao i Prirodno-matematičkog fakulteta u Novom Sadu. 
	  EESTEC LC Novi Sad, sa preko 320 članova i preko 50 aktivnih, jedan 
	  je od najbrojnijih i najaktivnijih lokalnih komiteta. Naš lokalni 
	  komitet se diči organizovanjem više raznovrsnih internacionalnih 
	  događaja, među kojima je i najveći događaj našeg Udruženja - Prolećni kongres 
	  2020. godine. Pored toga smo bili domaćini i finalne runde 
	  EESTech Challenge-a, konferencije predsednika EESTEC-a 
	  kao i mnogih drugih radionica i događaja.
	  </p>
        </div>
        <div class="column">
          <img src="assets/about_us_LC_NS.jpg" />
        </div>
      </div>
    </div>

    <div class="lc-mobile">
      <div class="auto-margin max-width-1200 columns is-vcentered row-content">
        <div class="column stretch-height">
          <h2>Lokalni komitet Novi Sad</h2>
          <hr />
          <p>
	  <b>EESTEC LC Novi Sad</b> je lokalni komitet osnovan 2001. godine na 
	  kongresu u Londonu. Naše udruženje okuplja studente Fakulteta 
	  tehničkih nauka kao i Prirodno-matematičkog fakulteta u Novom Sadu. 
	  EESTEC LC Novi Sad, sa preko 320 članova i preko 50 aktivnih, jedan 
	  je od najbrojnijih i najaktivnijih lokalnih komiteta. Naš lokalni 
	  komitet se diči organizovanjem više raznovrsnih internacionalnih 
	  događaja, među kojima je i najveći događaj našeg Udruženja - Prolećni kongres 
	  2020. godine. Pored toga smo bili domaćini i finalne runde 
	  EESTech Challenge-a, konferencije predsednika EESTEC-a 
	  kao i mnogih drugih radionica i događaja.
          </p>
        </div>
        <div class="column">
          <img src="assets/about_us_LC_NS.jpg" />
        </div>
      </div>
    </div>

    <div class="row-3 auto-margin max-width-800 has-text-centered">
      <h2>Napredak i saradnje</h2>
      <hr />
      <p class="px-3">
	Šireći domen svojih delatnosti, EESTEC LC Novi Sad u poslednjh 
	petnaest godina postao je veoma aktivan na lokalnom nivou. Uz 
	odličnu saradnju sa kompanijama i Fakultetom tehničkih nauka, 
	organizovano je više velikih takmičenja u programiranju, prezentacija, 
	kao i seminara za lokalne studente i Sajam poslovnih mogućnosti i 
	stručnih praksi KONTEH, koji svoju tradiciju drži već više od 25 
	godina. EESTEC već godinama unazad ima punu podršku Univerziteta u 
	Novom Sadu, Fakulteta tehničkih nauka, Pokrajinskog  sekretarijata 
	za sport i omladinu, Pokrajinskog  sekretarijata za obrazovanje i 
	kulturu, grada Novog Sada, Pokrajinskog sekretarijata za rad, zapošljavanje 
	i ravnopravnost polova, Ministarstva omladine i sporta Republike Srbije 
	kao i Pokrajinskog sekretarijata za nauku i tehnološki razvoj.
      </p>
      <div class="auto-marign mt-5">
        <a href="./assets/docs/statut_25.pdf" target="_blank"
          ><button mat-flat-button color="primary">Statut udruženja</button></a
        >
        <a href="./assets/docs/pravilnik.pdf" target="_blank"
          ><button mat-flat-button color="accent" class="pravilnik-button">
            Pravilnik o unutrašnjoj organizaciji
          </button></a
        >
      </div>
    </div>

    <div class="max-width-1200 auto-margin mt-5 pt-5">
      <lightgallery [settings]="settings">
        <a href="/assets/about_us1.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us1.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us2.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us2.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us3.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us3.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us4.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us4.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us5.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us5.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us6.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us6.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us7.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us7.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us8.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us8.jpg"> </square-image>
          </div>
        </a>

        <a href="/assets/about_us9.jpg">
          <div class="square-image">
            <square-image imgSrc="/assets/about_us9.jpg"> </square-image>
          </div>
        </a>
      </lightgallery>
    </div>
  </div>
</div>
