<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>Code9</h1>
    <h3><b> O projektu </b></h3>
    Code9 projekat je nastao iz višegodišnje uspešne saradnje internacionalne IT kompanije Levi9 i Udruženja studenata
    elektrotehnike Evrope – Lokalni komitet Novi Sad (EESTEC LC Novi Sad). Zbog velike zainteresovanosti studenata, koji
    su prepoznali potencijal i mogućnosti koje pohađanje kurseva pruža, ove godine se Code9 održava po 12. put.

    <h3><b> Uslovi učestvovanja </b></h3>
    Mogućnost pohađanja kursa u Novom Sadu imaju studenti završnih godina studija sa Fakulteta tehničkih nauka,
    Prirodno-matematičkog fakulteta i Tehničkog fakulteta „Mihajlo Pupin“ u Zrenjaninu.

    Imaš mogućnost da pohađaš najviše jedan kurs. Prilikom prijave možeš se prijaviti za svih pet kurseva, pri čemu
    treba da navedeš prioritete. Kurs koji te najviše interesuje treba da bude želja broj 1, a za preostale treba
    navesti kao želju broj 2, odnosno 3, 4 i 5.

    Kursevi su potpuno besplatni jer smo motivisani željom da prenesemo znanje budućim generacijama i postavimo dobre
    osnove za razvoj karijere. Po završetku radionica imaćete priliku da se kvalifikujete za sertifikat o završenim
    radionicama.
  </div>
</div>
