<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>Welcome to FTN</h1>
    <p>
      Upisao si faks i odjednom se nalaziš u moru novih termina, zgrada i skraćenica? Potpuno je normalno da se pitaš
      gde si to zapravo došao i šta te čeka. Upravo zato, već tri godine zaredom, organizujemo <b>Welcome to FTN (WTFTN)
      </b> -
      događaj koji je kreiran specijalno za naše najnovije i najmlađe kolege (brucoše) kako bi im olakšali prve korake
      na fakultetu.
    </p>

    <p>
      Zaboravite na formalna predavanja i suvoparne vodiče. WTFTN je vaša personalizovana "karta za preživljavanje" prve
      godine, a evo i šta vas sve očekuje:
    </p>

    <ul>
      <li><b> Veliki obilazak kampusa</b> -
        FTN može delovati kao lavirint, ali uz naše vođene ture po stanicama brzo ćete locirati
        gde su ključni amfiteatri, gde se kriju učionice i kako da se ne izgubite u prvim nedeljama.</li>

      <li><b>Kafa i ćaskanje sa starijim kolegama</b> -
        Oni su prošli sve ono što vas tek čeka. Biće vam na raspolaganju za
        apsolutno sva pitanja - od onih akademskih, do onih svakodnevnih.</li>

      <li><b>Vodič kroz studentski život</b> -
        Iz prve ruke ćete čuti kako izgleda taj čuveni prvi kolokvijum i kako se sprema, koji
        je sistem za uzimanje obroka u menzi (i šta je najukusnije), ali i ono najvažnije - gde je najbolji provod i gde
        se kriju najbolje studentske žurke.</li>
    </ul>

    <p>
      <b>Najbolji deo?</b> Ovo nije samo priča o fakultetu, već i o ljudima! WTFTN je savršena prilika da u opuštenoj
      atmosferi
      upoznaš ekipu sa svog, ali i sa drugih smerova FTN-a. Možda baš ovde, pre nego što zvanična predavanja uopšte
      počnu, upoznaš svoje buduće najbolje prijatelje i kolege za ceo život.
    </p>
  </div>
</div>