<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>5 dana u oblacima</h1>
    <p>
      „5 dana u oblacima“ je takmičenje za studente, organizovano od strane kompanije Levi9 i EESTEC LC Novi Sad.
    </p>

<p><bold> Prva faza (CHALLENGE) će se odvijati na sledeći način: </bold> </p>

<p> Takmičari se prijavljuju individualno, isključivo putem stranice za prijavljivanje.
Prijava za takmičenje počeće u sredu, 23. oktobra od 12 časova, i trajaće do ponedeljka 18. novembra u 12 časova popodne. Sledećeg dana, od 9 časova, očekuje se i početak CHALLENGE faze..
Imate 48h da, svako za sebe (individualno), u kućnoj atmosferi, koristeći sva pomagala kojih se setite, rešite postavljeni zadatak.
Tokom ovog dela takmičenja, svim učesnicima biće izneti problemi koje treba rešiti. Svaki učesnik treba da kreira svoj nalog na GitHub platformi i repozitorijum na koji će postaviti svoje rešenje. Na repozitorijum je neophodno dodati korisnika ugmizic kao kolaboratora sa admin role-om (podešavanje se dodaje preko Settings / Collaborators and Teams / Add people).
Pregledaće se ona rešenja čiji se izvorni kod i prateća dokumentacija nalaze na GitHub repozitorijumu u momentu završetka prve faze takmičenja (četvrtak, 21. novembar u 9 časova).
Sudije će rezultate prve faze takmičenja javiti učesnicima u petak, 22. novembra.
U narednu fazu proći će najuspešniji učesnici, od kojih će se formirati timovi za drugu fazu takmičenja (TEAM UP) koja će biti realizovana u formi hackatona.
Hakaton će se održati 23.11. od 9h i trajaće tokom celog dana. </p>

   <p><bold>Druga faza (TEAM UP) biće realizovana na sledeći način: </bold></p> 

<p> Zadatak u drugoj fazi rešava se timski – u timovima koje formira organizator.
TEAM UP hackaton će se odvijati u prostorijama naše kompanije, u Novom Sadu i Beogradu.
U svakom trenutku će svakom timu na raspolaganju biti prisutni mentori, čija je uloga konsultantska.  
Računare (laptop-ove) za rad i rešavanje zadatka potrebno je da ponesete. Ukoliko niste u mogućnosti, najavite nam unapred kako bismo vam iste obezbedili. 
Svaki tim će dobiti svoj AWS nalog za rešavanje zadatka iz druge faze takmičenja
Rešenje će biti konfigurisani servisi na timskom AWS nalogu u trenutku isteka vremena
Zadatak svakog tima je izvršavanje zadatka na AWS Cloud-u, kao i prezentacija implementiranog rešenja na kraju druge faze takmičenja. </p>
    
  </div>
</div>
