<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>SOFT SKILLS ACADEMY</h1>
    <p>
      Udruženje studenata elektrotehnike Evrope, lokalni komitet Novi Sad (EESTEC LC Novi Sad), želeći da studentima
      Univerziteta u Novom Sadu omogući usavršavanje ličnih i profesionalnih veština važnih za razvoj karijere,
      organizuje seminar Soft Skills Academy, a namenjen je studentima svih fakulteta, viših i visokih škola sa
      teritorije grada Novog Sada.
    </p>

    <p>
      Seminar je besplatan, s ciljem da podstakne studente da rade na ličnom usavršavanju i da podigne svest o značaju
      “mekih” veština. Tokom seminara, odabrani studenti će imati priliku da pohađaju radionice i predavanja na teme
      koje se menjaju sa svakim izdanjem seminara, pri čemu će steći veštine potrebne za napredovanje u budućoj
      karijeri. Kroz interakciju trener – učesnici, kao i kroz simuliranje određenih realnih situacija, učesnici mogu
      uočiti mnogo više detalja, uspešnije zapamtiti i usvojiti pruženo znanje. Treninge i predavanja će voditi
      predstavnici kompanija, stručnjaci iz oblasti kao i međunarodni sertifikovani EESTEC treneri.
    </p>

    <p>Nakon završenog seminara, naši polaznici će biti nagrađeni sertifikatom kao dokazom da su uspešno savladali datu temu!
    </p>
    <br/>

    <p>Dosadašnje teme naših Soft Skills Akademija su: </p>

		<ul>

			<li>2015 – „Lično usavršavanje“</li>
			<li>2016 – „Lični autoritet i uticaj na druge“, kasnije iste godine i „Komunikacione veštine i liderstvo“</li>
			<li>2017 – „Produktivnost i motivacija“</li>
			<li>2018 – „Profesionalne veštine i upravljanje stresom“</li>
			<li>2019 – „Poslovna komunikacija i prioriteti“</li>
			<li>2021 – „Liderstvo i produktivnost“, kasnije iste godine i „Motivacija i samopouzdanje“</li>
			<li>2023 – „Emocionalna inteligencija“</li>
      <li>2024 – „Poslovna komunikacija“</li>
      <li>2026 – „Moć unutrašnje kontrole“</li>

		</ul>

  </div>
</div>