<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>TECH SKILLS HUB</h1>
    <p>
      <b>Tech Skills Hub</b> je najnoviji događaj edukativnog karaktera u organizaciji Udruženja studenata
      elektrotehnike
      Evrope. Kao pionirski projekat, prvi put je održan u januaru 2026. godine.
    </p>

    <p>
      Akademski dani, kao neizostavna osnova projekta,donose diskusije i nove perspektive o aktuelnim temama u
      industriji. Osim teorijskog znanja, učesnici imaju priliku da testiraju svoje granice radeći na projektnom zadatku
      sa ciljem primene novostečenih veština, bez pritiska hakatona.
    </p>

    <p>
      Pored edukativnog središta, Tech Skills Hub predstavlja sponu između budućih inženjera i iskusnih kolega iz
      struke, kao i priliku za sticanje novih prijateljstava. Za sve koji vole novine u svetu tehnike, uživaju u
      rešavanju inženjerskih problema i spremni su da zasuku rukave i vredno rade sa svojim timom, učešće na Tech Skills
      Hub-u je krojeno po meri.
    </p>
  </div>
</div>