<div class="basic-page">
  <div class="max-width-1200 auto-margin">
    <h1>Soft Skills Academy</h1>
    <p>
     <strong> "You can’t download everything" </strong>

Početak akademske godine je period Soft Skills Akademije, kada lokalni komiteti širom Evrope organizuju svoje seminare. <br>

Seminar je besplatan i traje četiri dana, podeljen u dva vikenda u decembru, s ciljem da podstakne studente da aktivno razmišljaju o ličnom usavršavanju i da podigne svest o značaju “mekih” veština. Tokom seminara, 40 odabranih studenata ima priliku da pohađa radionice i predavanja na različite teme, pri čemu stiče veštine potrebne za napredovanje u budućoj karijeri. Kroz interakciju trener – učesnik, kao i kroz simuliranje određenih realnih situacija, učesnici mogu uočiti mnogo više detalja, uspešnije zapamtiti i usvojiti pruženo znanje. Treninge i predavanja vodiće predstavnici kompanija, stručnjaci iz različitih oblasti, kao i međunarodni sertifikovani EESTEC treneri. <br>

Generalna tema SSA je da <b> „ne možemo sve preuzeti (sa interneta)“ </b>, te da su neke od najvažnijih životnih veština one koje razvijamo radeći na sebi – veštine koje popularno nazivamo „mekim veštinama“. <br>

Dosadašnje teme naših Soft Skills Akademija su:
    </p>
    <ul>
      <li>2015 – „Lično usavršavanje“</li>
      <li>2016 – „Lični autoritet i uticaj na druge“, kasnije iste godine i „Komunikacione veštine i liderstvo“</li>
      <li>2017 – „Produktivnost i motivacija“</li>
      <li>2018 – „Profesionalne veštine i upravljanje stresom“</li>
      <li>2019 – „Poslovna komunikacija i prioriteti“</li>
      <li>2021 – „Liderstvo i produktivnost“, kasnije iste godine i „Motivacija i samopouzdanje“</li>
      <li>2023 – „Emocionalna inteligencija“</li>
      <li>2024 – „Poslovna komunikacija“</li>
    </ul>
    
<p>Nakon četiri produktivna i ispunjena dana, polaznici će biti nagrađeni sertifikatom kao dokazom da su uspešno savladali datu temu.</p>


  </div>
</div>
